@model AddressBook.Models.ContactsInfo

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>PhoneNumbers</h4>
        <hr />
        <table class="table table-hover table-responsive">
            <tr>
                <th></th>
                <th>
                    Type
                </th>
                <th>Number</th>
            </tr>
            @if (Model.phoneNumbers != null)
            {

                foreach (var item in Model.phoneNumbers)
                {
                    <tr>
                    <td>
                        @Html.HiddenFor(model => item.ID)
                    </td>
                        <td>
                            @Html.EditorFor(a => item.type, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.EditorFor(a => item.Number, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + "," + Model.ID + ")" })
                        </td>
                    </tr>
                }

            }

            </table>
    </div>
}

<script>
    function numberDelete(id, contactId) {
        var resp = confirm("Are you sure you want to delete this number?");
        if (resp) {
            $.ajax({
                url: "/api/Contacts/" + contactId + "?pid=" + id,
                method: "DELETE",
                async: false,
                success: function (data) {
                    alert("Number Deleted");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        alert("Cannot find this record");
                    }
                }
            });
        }
    }
</script>
