@model IEnumerable<AddressBook.Models.PhoneNumbers>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>PhoneNumbers</h4>
        <hr />
        <table class="table table-hover table-responsive">
            <tr>
                <th></th>
                <th>
                    Type
                </th>
                <th>Number</th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {

                <tr>
                    <td>
                        @Html.HiddenFor(model => item.ID)
                    </td>
                    <td>
                        @*@Html.DropDownListFor(a => item.type, select, new { @class = "form-control" })*@
                        @Html.EditorFor(a => item.type, new { htmlAttributes = new { @class = "form-control",@id="typeView" } })
                    </td>
                    <td>
                        @Html.EditorFor(a => item.Number, new { htmlAttributes = new { @class = "form-control", @id = "NumberView" } })
                    </td>
                    @*<td>
                        @Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + "," + Model.ID + ")" })
                    </td>*@
                </tr>
                }
            }
        </table>
    </div>
}
