@model AddressBook.Models.ContactsInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ContactsInfo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nickName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nickName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nickName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.emailID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    @*<div style="float:right;border:1px solid black;">
            @{
                Html.RenderPartial("_AddPhoneNumber");
            }
        </div>*@
}

<div>
    @Html.ActionLink("Add Phone Number", null, null, new { @id = "Adding" })
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!--Modal form-->
<!--<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="mymodallabel">Modal title</h4>
            </div>
            <div class="modal-body" id="bodymodal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
        </div>-->
<!-- /.modal-content -->
<!--</div>-->
<!-- /.modal-dialog -->
<!--</div>-->
<!-- /.modal -->

<div id="dialog" style="display: none">
</div>


<script type="text/javascript">
    $("#Adding").click(function () {
        alert("Add clicked");
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            title: "View Details"
        });
        //$("#CustomerGrid .details").click(function () {
        //var customerId = $(this).closest("tr").find("td").eq(0).html();
        alert("Calling partial view");
            //$.ajax({
            //    type: "GET",
            //    url: "/Home/_AddPhoneNumber",
            //    data: {},
            //    contentType: "application/json; charset=utf-8",
            //    dataType: "html",
            //    success: function (response) {
            //        alert("Opened the modal view");
            //        $('#dialog').html(response);
            //        $('#dialog').dialog('open');
            //    },
            //    failure: function (response) {
            //        alert(response.responseText);
            //    },
            //    error: function (response) {
            //        alert(response.responseText);
            //    }
            //});
        //});
    });
</script>
@*<script>
        $("#Adding").click(function () {
            alert("Eneter the modal view");
            $.ajax({
                url: "/Home/_AddPhoneNumber",
                contentType: "application/json; charset=utf-8",
                type: "Get",
                data: {}
            }).done(alert('2'), function (jdata) {
                alert('3');
                $('#myModal').modal('show');
                $('#mymodallabel').html('Select Job');
                $('#bodymodal').html(jdata);
                alert('4');
            });
        })
    </script>*@