@model AddressBook.Models.ContactsInfo

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    #PhoneNumberDetails, #EditPhoneNumberDetails, #HideButton {
        display: none;
    }

    /* #HideButton {
        display: none;
    }*/
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="page-name">Edit the Contacts Information</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nick Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nickName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nickName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Email ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Date of Birth", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.dob, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Address ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div id="PhoneNumberDetails">
                <div class="form-group">
                    @Html.Label("Phone Number Details:", new { @class = "control-label col-md-2" })
                </div>
                @foreach (var item in Model.phoneNumbers)
                {
                    <div class="form-group">
                        @Html.Label("Type", new { @class = "control-label col-md-2" })
                        <span class="col-md-10">
                            @Html.TextBox(item.type, item.type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.phoneNumbers, "", new { @class = "text-danger" })
                        </span>
                        @Html.Label("Number", new { @class = "control-label col-md-2" })
                        <span class="col-md-10">
                            @Html.TextBox(item.Number, item.Number, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.phoneNumbers, "", new { @class = "text-danger" })
                        </span>
                        <div>@Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + "," + Model.ID + ")" })</div>
                    </div>
                }
            </div>*@
        <div id="PhoneNumberDetails">
            @*@Html.Partial("_AddNewPhoneNumber", Model.phoneNumbers)*@
            @Html.Partial("_ViewPhoneNumber", Model.phoneNumbers)
        </div>
        <div id="EditPhoneNumberDetails">
            @*@Html.Partial("_AddNewPhoneNumber", Model.phoneNumbers)*@
            @Html.Partial("_EditPhoneNumber", Model)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            @Html.Label("View Phone Number", new { @class = "btn btn-default", onclick = "showPhoneNumberDetails(true,this)", @id = "ViewButton" })
            @Html.Label("Hide Phone Number", new { @class = "btn btn-default", onclick = "showPhoneNumberDetails(true,this)", @id = "HideButton" })
            @Html.ActionLink("Add Phone Number", null, null, new { @class = "btn btn-default" })
            @Html.Label("Edit Phone Number", new { @class = "btn btn-default", onclick = "showPhoneNumberDetails(false,this)" })
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })

        </div>
    </div>
}
<script>
    function showPhoneNumberDetails(hideorshow, el) {

        if (hideorshow) {
            $('#PhoneNumberDetails input').attr('readonly', 'readonly');
            if (el.textContent == 'View Phone Number') {
                $("#PhoneNumberDetails").css("display", "block");
                $('#HideButton').css("display", "inline");
                $('#ViewButton').css("display", "none");
            }
            else {
                $("#PhoneNumberDetails").css("display", "none");
                $("#EditPhoneNumberDetails").css("display", "none");
                $('#HideButton').css("display", "none");
                $('#ViewButton').css("display", "inline");
            }
        }
        else {
            $("#EditPhoneNumberDetails").css("display", "block");
            $("#PhoneNumberDetails").css("display", "none");
            $('#PhoneNumberDetails input').removeAttr("readonly");
            $('#HideButton').css("display", "inline");
            $('#ViewButton').css("display", "none");
        }
    }
</script>