@model IEnumerable<AddressBook.Models.ContactsInfo>

@{
    ViewBag.Title = "Contacts List";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    .lead {
        max-width: 350px;
        overflow: auto;
    }

    .Edit-contacts {
        float: right;
        border: 1px solid black;
        padding-right: 30px;
        max-width: 350px;
        display: none;
    }
    #myLink:hover
    {
        cursor:pointer;
    }
</style>


<h2 class="page-name">Contacts List</h2>
@Html.ActionLink("Create New Contact", "Create", null, new { @class = "label" })
@Html.Hidden("UserId", TempData["UserID"].ToString())
@Html.Hidden("UserEmailId")
<div class="lead">
    <hr />
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th colspan="2">
                Names:
            </th>
            @*<th></th>*@
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.fullName, "Edit", new { id = item.ID })
                </td>
                <td>
                    @*@Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + ")" })*@
                    @Html.Label("Delete", "Delete", new { @id = "myLink", onclick = "numberDelete(" + item.ID + ")" })
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Home/getEmailId',
            data: { userId: $("#UserId").val().trim() }
        }).done(function (data) {
            $("#UserEmailId").val(data);
        });
    })
    function numberDelete(contactId) {
        var resp = confirm("Are you sure you want to delete this number?");
        if (resp) {
            $.ajax({
                url: "/api/Contacts/" + contactId,
                method: "DELETE",
                async: false,
                success: function (data) {
                    alert("Number Deleted");
                    window.location.href = '/Home/Index?email=' + $("#UserEmailId").val();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (xhr.status == 404) {
                        alert(thrownError);
                        alert("Error occured");
                        $('#someText').text('Cannot find this record');
                    }
                }
            });
        }
    }
</script>